<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Note List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <style>
        .card{
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            color: azure;
        }
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        .card-name {
            display: flex;
            justify-content: space-around;
            font-size: 20px;
            text-align: center;
        }
        .card-content {
            padding: 10px;
        }
    </style>
  </head>
  <body style="background-color: rgb(210, 230, 230);">
    {% include "navbar.html" %}
    <div class="container">
        <h2 style="padding: 1em 0 0.5em 0;">This is a Note Card Lists</h2>
        <div class="row row-cols-2 gy-5">
            {% for note in notes %}
            <div class="col-6">
                <div class="card  bg-primary">
                    <div class="card-name">
                        <p>From: {{ note.note_from }}</p>
                        <p>To: {{ note.note_to }}</p>
                    </div>
                    <div class="card-content">
                        <h4>{{ note.note_title }}</h4>
                        <p>{{ note.note_message }}</p>
                    </div> 
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
  </body>
</html>