<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
  </head>
  <body style="background-color: rgb(210, 230, 230);">

    {% include "navbar.html" %}
      <div class="container">      
        <h2 style="padding: 1em 0 0.5em 0;">This is a Note table</h2>
        <table class="table table-bordered table-striped table-hover border-dark">
             <thead>
                 <tr>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Title</th>
                    <th scope="col">Messages</th>
                </tr>
            </thead>
            <tbody>
                 {% for note in notes %}
                 <tr>
                    <td>{{ note.note_from }}</td>
                    <td>{{ note.note_to }}</td>
                    <td>{{ note.note_title }}</td>
                    <td>{{ note.note_message }}</td>
                </tr>
                {% endfor %}
            </tbody>   
        </table>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
  </body>
</html>