<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Add Note</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    </head>
    <body style="background-color: rgb(210, 230, 230);">
        {% include "navbar.html" %}
        <div class="container">
            <h2 style="padding: 1em 0 0.5em 0;">Add Notes</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <!-- {{ form.as_p }} -->

                {{ form.non_field_errors }}
                <div class="row mb-3">
                    {{ form.note_to.errors }}
                    <label for="{{ form.note_to.id_for_label }}" class="col-sm-2 col-form-label">To</label>
                    <div class="col-sm-10">
                        {{ form.note_to }}
                    </div>
                    
                </div>
                <div class="row mb-3">
                    {{ form.note_from.errors }}
                    <label for="{{ form.note_from.id_for_label }}" class="col-sm-2 col-form-label">From</label>
                    <div class="col-sm-10">
                        {{ form.note_from }}
                    </div>
                    
                </div>
                <div class="row mb-3">
                    {{ form.note_title.errors }}
                    <label for="{{ form.note_title.id_for_label }}" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        {{ form.note_title }}
                    </div>
                    
                </div>
                <div class="row mb-3">
                    {{ form.note_message.errors }}
                    <label for="{{ form.note_message.id_for_label }}" class="col-sm-2 col-form-label">Messages</label>
                    <div class="col-sm-10">
                        {{ form.note_message }}
                    </div>
                    
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    </body>
</html>