<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(66, 138, 160);">
    <div class="container-fluid">
      <a class="navbar-brand" href="/lab-4">Lab 4</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/lab-4">Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lab-4/note-list">Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lab-4/add-note">Add Note</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>