<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Friend</title>
        <style>
            .center{
                text-align: center;
            }
        </style>
    </head>
    <body style="background-color:powderblue;">
        <h2 style="text-align: center; color: rgb(41, 41, 41);">Add new friend</h2>
        <form action="" method="POST" class="center">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
        <p style="text-align: center; color: rgb(41, 41, 41);"><a href=".">Check Friend list</a></p>
        <script>
            document.getElementById("id_DOB").setAttribute("type", "date");
        </script>
    </body>
</html>