<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
      }
      tr.headers{
        color: rgb(194, 194, 194);
      }
      .center{
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body style="background-color:powderblue;">
    <h2 style="text-align: center; color: rgb(41, 41, 41);">Friend list</h2>
    <table style="background-color:aqua" class="center">
      <tr style="background-color:rgb(0, 132, 255)" class="headers">
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% for friend in friends %}
        <tr>
          <td>{{ friend.name }}</td>
          <td>{{ friend.npm }}</td>
          <td>{{ friend.DOB }}</td>
        </tr>
      {% endfor %}
    </table>
    <p style="text-align: center; color: rgb(41, 41, 41);"><a href="add">Add more friend</a></p>
  </body>
</html>
