<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
      }
      tr.headers{
        color: rgb(194, 194, 194);
      }
      .center{
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body style="background-color:powderblue;">
    <h2 style="text-align: center; color: rgb(41, 41, 41);">This is a Note table</h2>
    <table style="background-color:aqua" class="center">
      <tr style="background-color:rgb(0, 132, 255)" class="headers">
        <th>From</th>
        <th>To</th>
        <th>Title</th>
        <th>Messages</th>
      </tr>
      {% for note in notes %}
        <tr>
          <td>{{ note.note_from }}</td>
          <td>{{ note.note_to }}</td>
          <td>{{ note.note_title }}</td>
          <td>{{ note.note_message }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>